<template>
	<div class="vue-application">
		<h3>Application 1-Guide</h3>
		<p>Declarative Rendering - render the data to DOM(Document Object Model) in a straightforward way. From the guide, I created a working clock instead of regular static string to show.</p>
		<div id="app" class="border rounded">
			{{ count }}
		</div>
	</div>

</template>


<script>
	export default {
		name: 'app1',
		data () {
			return {
				count: ''
			}
		},
		created: function () {
			this.clock()

			setInterval(function (){
				this.clock()
			}.bind(this),1000)
		},
		methods: {
			zeroPadding(time) {
				if(time<10){
					time = '0'+time;
				}
				return time
			},
			clock(){
				var time = new Date()
				this.count = this.zeroPadding(time.getHours()) + ':' + this.zeroPadding(time.getMinutes()) + ':' + this.zeroPadding(time.getSeconds())
			}
		}
	}


</script>


<style>

</style