<template>
	<div class="vue-application">
		<h3>Application 2-Guide</h3>
		<p>Using v-bind to apply attributes to the data. In here I modify the span title and add style</p>
		<div id="date" class="border rounded">
			<span v-bind:title="message" v-bind:style="styleObject">
				Hover mouse over here to see the dynamically bound title!
			</span>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'app2',
		data () {
			return{
				message: 'You loaded this page on ' + new Date().toLocaleString(),
				styleObject: {
					color: 'red'
				}
			}
		}
	}
</script>

<style>
</style>