<template>
	<div class="vue-application">
		<h3>Application 3-Guide</h3>
		<p>This application is created to demonstrate the ability to bind data to a strucuture of DOM. Using conditions, I can toggle the presence of the sentences by using the "seen" variable. I also created a button that can modify the status of the text and modify the text shown on the button, which also use conditions. I used method to run the function, because the function would only need to be run when called.</p>
		<div id="seen" class="border rounded">
			<span v-if="seen">Now you see me</span>
			<button v-on:click="messageVisibility">{{ status }}</button>
			
		</div>
	</div>
</template>

<script>
	export default {
		name: 'app3',
		data () {
			return{
				seen: true,
				status: "Hide"
			}
		},
		methods: {
			messageVisibility() {
				if (this.seen == true){
					this.seen = false
					this.status = "Show"
				} else {
					this.seen = true
					this.status = "Hide"
				}
			}
		}
	}
</script>

<style>
</style>