<template>
	<div class="vue-application">
		<h3>Application 4-Guide</h3>
		<p>This application is developed using v-for to create a for loop logic in vue. After creating an array in the js file, the front-end will fetch the data on the JS, and do loops while creating a list based on those data.</p>
		<div id="todo" class="border rounded">
			<ol>
				<li v-for="todo in todos">
					{{ todo.text }}
				</li>
			</ol>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'app4',
		data () {
			return{
				todos: [
				{ text: 'eat'},
				{ text: 'sleep'},
				{ text: 'pray'},
				]
			}
		}
	}
</script>

<style>
</style>