<template>
	<div class="vue-application">
		<h3>Application 5-Guide</h3>
		<p>By using v-on:click event, I can connect the button to the corresponding javascript function. The javascript function itself took the default message, which is "Hello World!", split the message until it became an array of each character on the string, reverse it, and join the char into a string again. I also recorded how many times the button has been clicked by adding a count variable everytime the function runs.</p>
		<div id="reverse" class="border rounded">
			<p>{{ message }}</p>
			<button v-on:click="reverseMessage">Reverse</button>
			<p>You have clicked that button {{ count }} times!</p>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'app5',
		data () {
			return{
				message: 'Hello World!',
				count: 0
			}
		},
		methods: {
			reverseMessage() {
				this.message = this.message.split('').reverse().join('')
				this.count += 1
			}
		}
	}
</script>

<style>
</style>