<template>
	<div class="vue-application">
		<h3>Application 6-Guide</h3>
		<p>This application shows that vue also has the ability to bind the form-input and app state by using v-model. When the user change the form-input, the message will be automatically changed, because basically the input change the variable data on the javascript side, which then are rendered by Vue. It can happen because vue is reactive.
		<div id="input" class="border rounded">
			<p>{{ message }}</p>
			<input v-model="message">
		</div>
	</div>
</template>

<script>
	export default {
		name: 'app6',
		data () {
			return{
				message: 'Hello Vue!'
			}
		}
	}
</script>

<style>
</style>