<template>
	<div class="vue-application">
		<h3>Application 7-SandBox</h3>
		<p>I created this application to create a calculation between the input and current year to determine how old are you. This application use getFullYear function of Date, and substracted it with the value that is retrieved from the user input.</p>
		<div id="birthday" class="border rounded">
			<p>Enter your birth year!</p>
			<input v-model="year">
			<button v-on:click="calculateYear">Calculate</button>
			<p>{{ age }}</p>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'app7',
		data () {
			return{
				age: null,
				year: null
			}
		},
		methods: {
			calculateYear(){
				this.age = 'You are ' + (new Date().getFullYear() - this.year) + ' years old!'
		}
		}
	}
</script>

<style>
</style>