<template>
	<div class="vue-application">
		<h3>Application 8-Combination</h3>
		<p>This application is used to learn more about components in Vue. It is an instance that can be created with pre-defined options. Vue use prop to pass unique value into each repetation of components value, so that we can render different text while using same components. In this application, I also combine the computed and methods property. I used methods to add new items to the grocery list, and computed to automatically calculate the total price of items that the user is going to buy.</p>
		<p>I also tried to assign the "enter" key to submit the form without button. So, use Enter to add new item</p>
		<div id="component" class="border rounded">
			<task
				v-for="item in grocery"
				v-bind:todo="item"
				v-bind:key="item.id"></task>
			<p>Total Price: {{ totalPrice }}</p>
			<p>Add new Item: <input v-model="shopItem" v-on:keyup.enter="addItem" v-bind:title="message"> </p>
		</div>
	</div>
</template>

<script>
	import task from './to-do.vue'

	export default {
		components: {
			task
		},
		name: 'app8',

		data () {
			return{
				grocery: [
					{ id:0, text: 'Vegetables', price: 3, quantity: 0 },
					{ id:1, text: 'Cheese', price: 4, quantity: 0 },
					{ id:2, text: 'Pasta', price: 5, quantity: 0}
				],
				shopItem: null,
				message: "Press enter to submit"
			}
		},
		methods: {
			addItem() {
				this.grocery.push({text: this.shopItem, price: 0, quantity: 0})
				this.shopItem = null
			}
		},
		computed: {
			totalPrice (){
				return this.grocery.reduce((total,item) => {
					return total + item.quantity*item.price
				}, 0)
			}
		}
	}
</script>

<style>
</style>