<template>
	<div class="container">
		<div class="jumbotron">
			<h1>Learning Vue</h1>
			<p>A project dedicated to learn vue</p>
		</div>

		<declarender/>
		<conditionaloops/>
		<userinput/>
		<components/>

	</div>
</template>


<script>
	import declarender from './declarender.vue'
	import conditionaloops from './conditionaloops.vue'
	import userinput from './userinput.vue'
	import components from './components.vue'
	export default {
		name: 'appcollection',
		components: {
			declarender, conditionaloops, userinput, components
		}
	}
</script>


<style>

</style>