<template>
	<div class="vue-section">
		<h2>Components</h2>
		<app8/>
	</div>
</template>

<script>
	import app8 from './app8.vue'
	export default {
		name: 'components',
		components: {
			app8
		}
	}
</script>