<template>
	<div class="vue-section">
		<h2>Conditionals and Loops</h2>
		<app3/>
		<app4/>
	</div>
</template>

<script>
	import app3 from './app3.vue'
	import app4 from './app4.vue'
	export default {
		name: 'conditionaloops',
		components: {
			app3, app4
		}
	}
</script>