<template>
	<div class="vue-section">
		<h2>Declarative Rendering</h2>
		<app1/>
		<app2/>
	</div>
</template>

<script>
	import app1 from './app1.vue'
	import app2 from './app2.vue'
	export default {
		name: 'declarender',
		components: {
			app1,app2
		}
	}
</script>