<template>
	<div>
	    <nav class="navbar navbar-expand-lg navbar-light bg-light">
	    	<router-link class="navbar-brand" to="/">VueLearning</router-link>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item" v-for="routes in links" v-bind:key="routes.id">
	      				<router-link class="nav-link" :to="`${routes.page}`">{{ routes.text }}</router-link>
	      			</li>
	      		</ul>
	      	</div>
	    </nav>
	</div>
</template>

<script>
	export default {
		name: 'Navigation',
		data() {
			return {
				links: [
				{
					id: 0,
					text: 'index',
					page: '/'
				},
				{
					id: 1,
					text: 'app 1',
					page: '/app1'
				}
				]
			}
		}
	}
</script>