<template>
	<div class="row">
		<div class="col-3">
			{{ todo.text }}
		</div> 

		<div class="col-3"> 
			price: <input type="number" v-model.number="todo.price">
		</div> 

		<div class="col-3"> 
			quantity: <input type="number" v-model.number="todo.quantity">
		</div>
	</div>
</template>

<script>
	export default {
		props: {
			todo: {
				type: Object,
				required: true
			}
		}
	}
</script>