<template>
	<div class="vue-section">
		<h2>User Inputs</h2>
		<app5/>
		<app6/>
		<app7/>
	</div>
</template>

<script>
	import app5 from './app5.vue'
	import app6 from './app6.vue'
	import app7 from './app7.vue'
	export default {
		name: 'userinput',
		components: {
			app5,app6,app7
		}
	}
</script>