<template>
  <div id="app">
    <navigation/>
    <router-view/>
  </div>
</template>

<script>

import app1 from './components/app1.vue'
import appcollection from './components/appCollection.vue'
import navigation from './components/navigation.vue'

export default {
  name: 'App',
  components: {
    app1, appcollection, navigation
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>
